html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: lightseagreen;
    margin: 16px;
}

.header {
    margin: auto;
    padding-bottom: 8px;
}

.header > * {
    margin: 0;
}

.content {
    background-color: aquamarine;
    padding: 24px 0;
}

.calculator {
    background-color: lightseagreen;
    border: 4px solid black;
    margin: 10% 25%;
}

.calculator-display {
    min-height: 96px;
    background-color: gainsboro;
    padding: 0 8px;
    margin: 8px;
    border: 2px solid gray;
    text-align: end;
    font-size: 500%;
}

.calculator-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-row > button {
    background-color: azure;
    border-radius: 8px;
    height: 48px;
    width: 60px;
    margin: 12px;
    font-weight: bold;
}

button.red-btn {
    background-color: lightcoral;
}

#subtitle {
    color: rgb(66, 66, 66);
}